@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #f2dfce;
}

/* start Header component */
.headerStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 0;
  color: #fff;
}
.leftcontainerStyle {
  display: flex;
  align-items: center;
}
.bookTitleStyle {
  margin-right: 2rem;
  color: #000;
}
.searchInputStyle {
  padding: 0.7rem 1rem;
  margin-left: 3.6rem;
  border-radius: 70px;
  background-color: rgb(248, 234, 221);
  border: 2px solid #000;
  min-width: 320px;
}
.rightContainerStyle {
  display: flex;
  align-items: center;
}
.avatarLinkStyle {
  margin-right: 1rem;
}

.avatarStyle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
/* End Header component */


.bookContainer{
  height:80vh;
  width:95%;
  margin:auto;
 
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}

.bookContainer aside{
  width:42.5%;
  background:#f8eadd;
  border-radius:20px;
  boxShadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding:20px 30px;
flex-grow:1;
margin:20px 10px;
}

.bookContainer aside p{
  line-height:21px;
}

.floating-toolbar{
  background:#ffd9d9;
}

.floating-toolbar-close{
  background:#ffd9d9;

}

.modal-content-reed{
  background:#daa4a4;

}

.btn-submit-reed{
  background:#000;
}
.hover-card{
  background:#f2dfce;

}

.center{
  text-align:center;
  font-size:36px;
  font-weight:300;
  margin-bottom:4px;
}

.small{
  font-size:16px;
  text-align:center;
display:block;
margin-bottom:40px;
}